# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/.next-dev/
/out/
# Next.js build artifacts and cache files
**/_*.js
**/_*.js.map
**/_*.ts
**/_*.ts.map

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# custom
/lib/generated/prisma

# build artifacts and temporary files
**/chunks/**
**/*.map
*.map
private/uploads/
